<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to the Stage of History!</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"> 
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src= "https://player.twitch.tv/js/embed/v1.js"></script> <!-- Twitch Extension -->
    <!--Skript hier im HTML laden und/oder auch im main.js?
    
    -->
</head>
<body>
    <div class="fixedheader" style="display: block;">
        <div id="twitchframe"></div>
        <div>
          <button class="buttonheader" id="btnreset">R<br>S<br>T</button>
        </div>
    </div>
    <div id="sectionlobby" class="content" style="display: block;">
        <h1>Lobby</h1>
        <button class="buttoncontent" id="btnaddp">Eintragen +</button>
        <button class="buttoncontent" id="btnrefresh">Aktualisieren</button>
        <p id="placementdummy"></p>
        <p id="rt"></p>
    </div>
    <script src="../static/index.js"></script> 
</body>
</html>